@import './src/assets/styles/fonts';
@import './src/assets/styles/valiables';
@import './src/assets/styles/tools';

.login .formControl {
}

.login .loginForm {
  max-width: 25rem;
  margin-top: auto;
}

.login {
  width: 100%;
  height: 100%;

  &__container {
    @include justifyContent(center);
    @include alignItems(center);
    height: 100%;
    width: 100%;
    padding: 5% 0;

    .title {
      font-size: 44px;
      font-weight: bold;
      padding: 5% 0;
      color: $black-low-color;
      font-family: $font-black, sans-serif;
    }

    .loginForm .submitBtn {
      color: $white-color;
      background-color: $red-color;
      cursor: default;
    }

    .loginForm .submitBtn:disabled {
      color: $button-disabled;
      background-color: $white-color;
      cursor: not-allowed;
    }

    .loginForm .submitBtn:hover {
      color: $black-low-color;
      background-color: $white-color;
    }

    .formControl .error_span {
      color: $red-color;
      font-family: $font-regular, sans-serif;
    }

    .formControl .formLabel {
      font-family: $font-regular, sans-serif;
    }

    .formControl .formInput {
      font-family: $font-regular, sans-serif;
      text-decoration: none;
    }
  }
}
