// Colors
$primary-color: #0c1f76;
$white-color: #ffffff;
$primary-button-color: #ffc60a;
$primary-text-color: #0c1f76;
$secondary-color: #7a86c0;
$border-color: #eeeeee;
$background-card: #ededed;
$black-low-color: #222222;
$button-disabled: #827f7f;
$red-color: #c50119;
$greyed-red-color: #b82b2b;
$black-deep-color: #191919;
$black-light-color: #9d9d9c;

// Fonts
$font-black: 'Roboto Black';
$font-black-italic: 'Roboto Black Italic';
$font-bold: 'Roboto Bold';
$font-bold-italic: 'Roboto Bold Italic';
$font-italic: 'Roboto Italic';
$font-light: 'Roboto Light';
$font-light-italic: 'Roboto Light Italic';
$font-medium: 'Roboto Medium';
$font-medium-italic: 'Roboto Medium Italic';
$font-regular: 'Roboto Regular';
$font-thin: 'Roboto Thin';
$font-thin-italic: 'Roboto Thin Italic';
